
header{
    height:120px;
    background-color: #5c9aff;
    background-image: url(img/pattern.png);
    background-size: 30%;
    position: relative;
    

    
}

header img{
    width: 15%;
    position: absolute;
    top: 50px;
    left: 150px;
}