header{
    height:120px;
    background-color: #5c9aff;
    background-image: url(img/pattern.png);
    background-size: 30%;
    position: relative;        
}

.logo{
    width: 15%;
    position: absolute;
    top: 50px;
    left: 150px;
}

main{
    width: 1200px;
    margin: auto;
}

.title{
    width: 1000px;
    font-size: 25px;
}

.subtitle{
    font-size: 20px;
    color: gray;
}

.name{
    font-size: 20px;
    color: #5c9aff;
}

.foto-tim{
    margin-top: 50px;
}

.caption{
    font-size: 12px;
}

.p1, .p2{
    margin-top: 50px;
}

.underline{
    background-color: yellow;
    margin: 0;
}

.list{
    margin-top: 50px;
}

table{
    margin-top: 50px;
}

thead{
    width: 100%;
    background-color: #5c9aff;
    color: white;
    margin-top: 50px;
   }

#external-row{
    background-color: lightblue;
}
  
.row-right{
    width: 50%;
  }
  
#center-row{
    background-color: white;
  }

footer{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#foto-footer1{
    width: 300px;
    height: 200px;
    background-image: url(img/monitor.jpg);
    margin-top: 30px;
    position: relative;
}
     
#foto-footer2{
    width: 300px;
    height: 200px;
    background-image: url(img/graph.jpg);
    margin-top: 30px;
    position: relative;
}

.text-foto{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}